* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: #FFDDEE;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

h3 {
    height: auto;
    color: #FF1493;
}

.des {
    color: gray;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.price-before {
    color: #FF69B4;
    text-decoration: line-through;
}

.dis {
    background-color: #FFB6C1;
    padding: 4px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}
